<nav>
  <ul class="side-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="/addPlaylistForm">Add Playlist</a></li>
    <li><a href="/addVideoForm">Add Video</a></li>
  </ul>
</nav>
